nav.admin {
  background: purple;
  position: fixed;
  width: 150px;
  top: 60px;
  left: 0;
  margin-bottom: 0;
  z-index: 1;
}
nav.admin li {
  float: none;
}
nav.admin li a {
  color: #fff !important;
  font-weight: bold;
}

.space {
  padding-left: 180px !important;
}
